@model Garage3.Web.Models.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Customer.FirstName</h1>

    @if(Model.CustomerAge>18)
    {
        <a asp-action="AddVehicle" asp-route-id="@Model.Customer.Id">Add vehicle</a>
        <div class="container mt-5">
            <div class="row">

                @if (Model.ParkingSpots is not null)
                {
                    @foreach (var item in Model.ParkingSpots)
                    {
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card py-4 px-lg-5 h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="text-center">
                                        <img src="https://imgs2.dab3games.com/draw-parking-game.png" class="img-fluid  mb-5" alt="">
                                    </div>

                                    <div class="card-title mb-4 text-center fs-2">A @item.Id</div>
                                    <div>

                                        @if (item.Reserved == true)
                                        {
                                            <ul class="list-unstyled">
                                                <li class="mb-3">
                                                    <i class="fas fa-check-circle icon-color"></i>
                                                    <span class="small ms-3">Registration number: @item.Spot.Vehicle.RegNum</span>
                                                </li>
                                                <li class="mb-3">
                                                    <i class="fas fa-check-circle icon-color"></i>
                                                    <span class="small ms-3">Vehicle type @item.Spot.Vehicle.VehicleType.Type</span>
                                                </li>
                                                <li class="mb-3">
                                                    <i class="fas fa-check-circle icon-color"></i>
                                                    <span class="small ms-3">Parking time @item.Spot.CheckIn</span>
                                                </li>
                                            </ul>
                                            @if (item.Spot.Vehicle.CustomerId == Model.Customer.Id)
                                            {
                                                <a class="btn btn-danger" asp-controller="Member" asp-action="CheckOut" asp-route-id="@item.Spot.Id">Check Out</a>
                                            }
                                            else
                                            {
                                                <h3 class="alert-danger">Reserved</h3>
                                            }

                            }
                                        else
                                        {
                                            <a class="btn btn-success" asp-controller="Vehicles" asp-action="Park" asp-route-id="@item.Id">Check In</a>
                                        }

                                    </div>


                                </div>
                            </div>

                        </div>



                    }
                }

            </div>
        </div>
    }
    else
    {
        <h1 class="display-4">You are under 18</h1>
    }



</div>