@model Garage3.Web.Models.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spot.Vehicle.Customer.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spot.Vehicle.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spot.Vehicle.VehicleType.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spot.Vehicle.VehicleType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spot.Vehicle.RegNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spot.Vehicle.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spot.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spot.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <input type="button" value="Print" class="btn btn-success" onclick="printPage()" />
    <a asp-controller="Member" asp-action="Back" asp-route-id="@Model.Spot.Vehicle.Customer.Id">Back</a>
</div>
