@model Garage3.Web.Models.ViewModels.OverviewViewModel

<h2>Overview of Parked Vehicle</h2>
@* 
<div>
    <p>Owner: @Model.Owner</p>
    <p>Membership Type: @Model.MembershipType</p>
    <p>Vehicle Type: @Model.VehicleType</p>
    <p>Registration Number: @Model.RegNum</p>
    <p>Park Duration: @Model.ParkDuration</p>
</div> *@